.imageContainer {
    width: 150px; // Set the size of your images
    height: 180px;
    perspective: 1040px;
}

.profileImage,
.backImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 1s;
}

.backImage {
    transform: rotateY(150deg);
}

.profileImage {
    transform: rotateY(0deg);
}

.imageContainer:hover .profileImage {
    transform: rotateY(150deg);
}

.imageContainer:hover .backImage {
    transform: rotateY(0deg);
}