@import 'shared.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  //font-family: Arial, sans-serif; // You can choose your font here
  padding: 20px;
}